version: "3.7"

services:
  router-default:
    restart: always
    build: ./server/router-default/
    container_name: router-default
    environment: 
      - PORT=3000
      - HOST=3000
    ports:
      - 3000:3000
#    depends_on:
#      - backend 
#      - frontend
#    links:
#      - backend
#      - frontend
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:3000"]
#      interval: 30s
#      timeout: 10s
#      retries: 5
    networks:
      - network

  api-default:
    build: ./server/api-default/
    container_name: api-default
    environment: 
      - PORT=3100
      - HOST=0.0.0.0
#      - SECRET=${SECRET_AUTH_KEY}
    volumes:
      - ./server/api-default/src:/home/src:rw
    ports:
      - 3100:3100
    networks:
      - network
    #depends_on: 
      #- database

  db-default:
    build: ./storage/db-default
    user: "1000:1000"
    restart: always
    container_name: db-default
    environment:
      - DB_INITDB_ROOT_USERNAME=root
      - DB_INITDB_ROOT_PASSWORD=example
      - PORT=${STORAGE_DB_DEFAULT_PORT_INTERNAL}
    
    

    volumes:
      - ./storage/db-default/data:/data/db
    ports: 
      - ${STORAGE_DB_DEFAULT_PORT_EXTERNAL}:${STORAGE_DB_DEFAULT_PORT_INTERNAL}

networks:
  network:
    driver: bridge
