version: "3.7"

services:
  router:
    restart: always
    build: ./router/
    container_name: router
    environment: 
      - PORT=${PORT_ROUTER_INTERNAL}
      - HOST=${HOST_GENERAL}
    ports:
      - ${PORT_ROUTER_EXTERNAL}:${PORT_ROUTER_INTERNAL}
    depends_on:
      - api-auth 
      - web-public
    links:
      - api-auth 
      - web-public
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - network

  api-auth:
    build: ./backend/api-auth/
    container_name: api-auth
    environment: 
      - PORT=${PORT_API_AUTH_INTERNAL}
      - HOST=${HOST_GENERAL}
      - SECRET=${SECRET_AUTH_KEY}
    volumes:
      - ./backend/api-auth/src:/home/src:rw
    ports:
      - ${PORT_API_AUTH_EXTERNAL}:${PORT_API_AUTH_INTERNAL}
    networks:
      - network
    depends_on: 
      - db-auth


  web-public:
    build: ./frontend/web-public/
    container_name: web-public
    environment: 
      - PORT=${PORT_FRONT_PUBLIC_INTERNAL}
      - HOST=${HOST_GENERAL}
    #volumes:
    #  - ./client/web-public:/home/src/:rw
    ports:
      - ${PORT_FRONT_PUBLIC_EXTERNAL}:${PORT_FRONT_PUBLIC_INTERNAL}
    networks:
      - network
    depends_on: 
      - api-auth 


  db-auth:
    build: ./database/db-auth
    restart: always
    container_name: db-auth
    environment:
      - DB_INITDB_ROOT_USERNAME=root
      - DB_INITDB_ROOT_PASSWORD=example
      - PORT=${PORT_DB_AUTH_INTERNAL}
    volumes:
      - ./database/db-auth/data:/data/db
    ports: 
      - ${PORT_DB_AUTH_EXTERNAL}:${PORT_DB_AUTH_INTERNAL}



networks:
  network:
    driver: bridge
