version: "3.7"

services:
  router-default:
    restart: always
    build: ./server/router-default/
    container_name: router-default
    environment: 
      - PORT=${SERVER__ROUTER_DEFAULT__PORT_INTERNAL}
      - HOST=${GENERAL__HOST_GENERAL}
    ports:
      - ${SERVER__ROUTER_DEFAULT__PORT_EXTERNAL}:${SERVER__ROUTER_DEFAULT__PORT_INTERNAL}
#    depends_on:
#      - backend 
#      - frontend
#    links:
#      - backend
#      - frontend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30000"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - network

networks:
  network:
    driver: bridge
