version: "3.7"

services:
  router:
    restart: always
    build: ./router/
    container_name: router
    environment: 
      - PORT=${PORT_ROUTER_INTERNAL}
      - HOST=${HOST_GENERAL}
    volumes:
      - ./router/conf.d:/etc/nginx/conf.d:rw
    ports:
      - ${PORT_ROUTER_EXTERNAL}:${PORT_ROUTER_INTERNAL}
    depends_on:
      - backend 
      - frontend
    links:
      - backend
      - frontend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - network

networks:
  network:
    driver: bridge
