version: "3.7"

services:
  router-default:
    restart: always
    build: ./server/router-default/
    container_name: router-default
    environment: 
      - PORT=${SERVER__ROUTER_DEFAULT__PORT_INTERNAL}
      - HOST=${SERVER__ROUTER_DEFAULT__HOST}
    ports:
      - ${SERVER__ROUTER_DEFAULT__PORT_EXTERNAL}:${SERVER__ROUTER_DEFAULT__PORT_INTERNAL}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 5
  #    depends_on:
#      - backend 
#      - frontend
#    links:
#      - backend
#      - frontend
    networks:
      - network


  web-admin:
    build: ./client/web-admin
    container_name: web-admin
    environment: 
      - PORT=${CLIENT__WEB_ADMIN__PORT_INTERNAL}
      - HOST=${CLIENT__WEB_ADMIN__HOST}
    volumes:
      - ./client/web-admin:/home:rw
    ports:
      - ${CLIENT__WEB_ADMIN__PORT_EXTERNAL}:${CLIENT__WEB_ADMIN__PORT_INTERNAL}
    networks:
      - network
    depends_on: 
      - api-default


  web-public:
    build: ./client/web-public
    container_name: web-public
    environment: 
      - PORT=${CLIENT__WEB_PUBLIC__PORT_INTERNAL}
      - HOST=${CLIENT__WEB_PUBLIC__HOST}
    volumes:
      - ./client/web-public:/home:rw
    ports:
      - ${CLIENT__WEB_PUBLIC__PORT_EXTERNAL}:${CLIENT__WEB_PUBLIC__PORT_INTERNAL}
    networks:
      - network
    depends_on: 
      - api-default


  api-default:
    build: ./server/api-default/
    container_name: api-default
    environment: 
      - PORT=${SERVER__API_DEFAULT__PORT_INTERNAL}
      - HOST=${SERVER__API_DEFAULT__HOST}
#      - SECRET=${SECRET_AUTH_KEY}
    volumes:
      - ./server/api-default:/home:rw
    ports:
      - ${SERVER__API_DEFAULT__PORT_EXTERNAL}:${SERVER__API_DEFAULT__PORT_INTERNAL}
    networks:
      - network
    depends_on: 
      - db-default

  docs:
    build: ./.docs/
    container_name: docs
    environment: 
      - PORT=${DOCS__PORT_INTERNAL}
      - HOST=${DOCS__HOST}
    volumes:
      - .:/home
    ports:
      - ${DOCS__PORT_EXTERNAL}:${DOCS__PORT_INTERNAL}
    networks:
      - network
    depends_on: 
      - db-default

      
      
  db-default:
    build: ./storage/db-default
    user: "1000:1000"
    restart: always
    container_name: db-default
    environment:
      - DB_INITDB_ROOT_USERNAME=${STORAGE__DB_DEFAULT__USERNAME}
      - DB_INITDB_ROOT_PASSWORD=${STORAGE__DB_DEFAULT__PASSWORD}
      - PORT=${STORAGE__DB_DEFAULT__PORT_INTERNAL}
      - HOST=${STORAGE__DB_DEFAULT__HOST}
    
    

    volumes:
      - ./storage/db-default/data:/data/db
    ports: 
      - ${STORAGE__DB_DEFAULT__PORT_EXTERNAL}:${STORAGE__DB_DEFAULT__PORT_INTERNAL}

networks:
  network:
    driver: bridge
