<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% if index_page !== true %}../../{% endif %}assets/style__bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="{% if index_page !== true %}../../{% endif %}assets/style__customs.css"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">


    <nav class="navbar navbar-default >
    <p class="nav-link">Документация проекта</p>
</nav>
<nav class="navbar navbar-default d-none d-lg-block">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Самое Главное</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about/">Серверы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Клиенты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Хранилища</a>
    </li>
  </ul>
</nav>

<div class="pos-f-t">
  <div class="collapse" id="burger">

  <ul>
    <li>
      <a class="active" href="/">Самое Главное</a>
    </li>
    <li>
      <a href="/about/">Серверы</a>
    </li>
    <li">
      <a href="#">Клиенты</a>
    </li>
    <li>
      <a href="#">Хранилища</a>
    </li>
  </ul>
<ul>
{%- for i in collections.root -%}
  <li><a href="{{ i.fileSlug }}/index.html">{{ i.fileSlug }}/index.html</a></li>
{%- endfor -%}
</ul>
  </div>
  <nav class="navbar navbar-dark bg-dark d-lg-none">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#burger"
      aria-controls="burger"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

